<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nullprotocol.nullgate.testclient"
    android:versionCode="1"
    android:versionName="0.1">
    <application
        android:allowBackup="false"
        android:label="NullGate Test Client"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
